<?xml version="1.0"?>
<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 参数 & 引入 -->
    <xacro:arg name="robot_namespace" default="" />
    <xacro:property name="ns" value="$(arg robot_namespace)" />
    <xacro:arg name="joint_prefix" default=""/>
    <xacro:property name="jp" value="$(arg joint_prefix)" />
    
    <!-- 引入子文件 -->
    <xacro:include filename="$(find agents_cpp)/urdf/car.xacro" />
    <xacro:include filename="$(find agents_cpp)/urdf/car.ros2_control.xacro" />

</robot>