controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    ackermann_steering_controller:
      type: ackermann_steering_controller/AckermannSteeringController

ackermann_steering_controller:
  ros__parameters:
    front_wheels_names: ["front_left_steer_joint", "front_right_steer_joint"]
    # steering_joints_names: ["front_left_steer_joint", "front_right_steer_joint"]
    rear_wheels_names: ["rear_left_wheel_joint", "rear_right_wheel_joint"]
    # traction_joints_names: ["rear_left_wheel_joint", "rear_right_wheel_joint"]
    publish_rate: 50.0 # 发布里程计与TF频率
    # 物理几何参数
    wheelbase: 0.6 # 前后轮中心距离（m）
    front_wheels_radius: 0.1 # 前轮半径（m）
    rear_wheels_radius: 0.1 # 后轮半径（m）
    front_wheel_track: 0.4 # 驱动轮两侧左右间距（m）
    rear_wheel_track: 0.4 # 可选：转向轮间距（m），0 表示用 traction_track_width。 :contentReference[oaicite:1]{index=1}
    in_chained_mode: false
    reference_timeout: 1.0
    # 坐标系
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    enable_odom_tf: false
    open_loop: true
    use_stamped_vel: true