controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

    # bicycle_steering_controller:
    #   type: bicycle_steering_controller/BicycleSteeringController

    ackermann_steering_controller:
      type: ackermann_steering_controller/AckermannSteeringController

# === Diff Drive 参数（后轴驱动）===
diff_drive_controller:
  ros__parameters:
    left_wheel_names:  ["rear_left_wheel_joint"]
    right_wheel_names: ["rear_right_wheel_joint"]

    wheel_separation: 0.4     # 你的 track，左右轮中心距（米）
    wheel_radius: 0.1         # 你的轮半径（米）
    # wheel_separation_multiplier: 1.0
    # wheel_radius_multiplier: 1.0

    # 里程计配置
    publish_rate: 50.0
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    enable_odom_tf: true
    open_loop: true
    use_stamped_vel: true
    cmd_vel_timeout: 0.5

    # 限幅
    linear.x.has_velocity_limits: true
    linear.x.max_velocity: 1.0
    linear.x.min_velocity: -1.0
    angular.z.has_velocity_limits: true
    angular.z.max_velocity: 1.0
    angular.z.min_velocity: -1.0

# === 前轮转向位置控制（组控制器）===
bicycle_steering_controller:
  ros__parameters:
    wheelbase: 0.6                # 前后轮距离（单位：米）
    traction_wheel_radius: 0.1    # 驱动轮半径（单位：米）
    front_steering: "front_left_steer_joint"  # 或者转向连杆 joint
    rear_wheels: ["rear_left_wheel_joint", "rear_right_wheel_joint"]

    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    open_loop: true
    enable_odom_tf: true
    use_stamped_vel: true
    publish_rate: 50

ackermann_steering_controller:
  ros__parameters:
    front_wheels_names: ["front_left_steer_joint", "front_right_steer_joint"]
    rear_wheels_names: ["rear_left_wheel_joint", "rear_right_wheel_joint"]
    publish_rate: 50.0 # 发布里程计与TF频率
    # 物理几何参数
    wheelbase: 0.6 # 前后轮中心距离（m）
    front_wheels_radius: 0.1 # 前轮半径（m）
    rear_wheels_radius: 0.1 # 后轮半径（m）
    front_wheel_track: 0.4 # 驱动轮两侧左右间距（m）
    rear_wheel_track: 0.4 # 可选：转向轮间距（m），0 表示用 traction_track_width。 :contentReference[oaicite:1]{index=1}

    # 坐标系
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    pose_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    twist_covariance_diagonal: [0.001, 0.001, 0.001, 0.001, 0.001, 0.01]
    enable_odom_tf: true
    open_loop: true
    use_stamped_vel: true